* {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

/* header */
header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-link {
  text-decoration: none;
}
app-title {
  color: #e24e42;
  font: 2.5em  'Abril Fatface', cursive;
  margin-bottom: 0;
  text-align: center;
}
/* nav */
.navList {
  display:flex;
  justify-content: center;
  padding: 0;
}
 .navButton {
  border-radius: 10px;
  color: #fff;
  flex-basis: 30%;
  font: bold  1em 'Source Sans Pro', sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  max-width: 225px;
}
 .unNav {
  background-color: #b0dce7;
}
 .ansNav {
  background-color: #75bfc8;
}
 .leadNav {
  background-color: #078b9b;
}
 .newNav {
  background-color: #012024;
}
.navButton:hover {
  background-color: #cdd1d2;
  font-weight: bold;
}
 .current {
  font-style: italic;
}
 @media screen and (min-width: 45em) {
   .app-title {
    font-size: 3.5em;
  }
   .navButton {
    font-size: 1.25em;
  }
}

/*
light gray: #eff0eb;
medium gray #cdd1d2;
dark gray: #7f8487;
light blue: #b0dce7;
medium blue: #75bfc8;
dark blue: #078b9b;
black: #012024;
*/
/*
papaya: #e24e42;
mustard: #e9b000;
 blush: #e86e80
 aqua: #008f95;
 grayish: #8d8d8d;
 blueish: #1a4863;
 burgundy: #51081f;
 */
