* {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  max-width: 1200px;
  padding: 0;
}

/* header */
header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-link {
  text-decoration: none;
}
app-title {
  color: #012024;
  font: 2.5em  'Abril Fatface', cursive;
  margin-bottom: 0;
  text-align: center;
}
/* nav */
.navList {
  display:flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
 .navButton {
  border-radius: 10px;
  display: flex;
  flex-basis: 25%;
  font: bold  1em 'Source Sans Pro', sans-serif;
  justify-content: center;
  margin: 5px 5px 0 5px;
  min-height: 50px;
  padding: 10px;
  text-align: center;
}
.navLink {
  align-self: center;
  color: #fff;
  text-decoration: none;
}
 .unansNav, .unans {
  background-color: #b0dce7;
}
 .ansNav, .ans {
  background-color: #75bfc8;
}
 .leadNav, .lead {
  background-color: #078b9b;
}
 .addNav, .add {
  background-color: #067583;
}
.navButton:hover {
  background-color: #cdd1d2;
  font-weight: normal;
}
 .current {
  font-style: italic;
}
.qblock {
  border-radius: 10px;
  display: flex;
  margin: 5px;
}

/* question boxes */
.questionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
 .qbox {
  background-color: #eff0eb;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  width: 48%;
}
 .qheader {
  color: #078b9b;
}
.options {
  display:flex;
  justify-content: space-around;
}
 .opt1,
.opt2 {
  background-color: #078b9b;
  border-radius: 10px;
  color: #cdd1d2;
  font: 1.5em  'Abril Fatface', cursive;
  padding: 20px;
  width: 45%
}
 .opt1 {
  background-color: #078b9b;
}


@media screen and (min-width: 45em) {
   .navList {
    flex-direction: row;
  }
   .navButton {
    border-bottom-left-radius:0;
    border-bottom-right-radius: 0;
    flex-direction: row;
  }
   .qblock {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 5px;
  }
 }
 @media screen and (min-width: 45em) {
   .app-title {
    font-size: 3.5em;
  }
   .navButton {
    font-size: 1.25em;
  }
}

/*
light gray: #eff0eb;
medium gray #cdd1d2;
dark gray: #7f8487;
light blue: #b0dce7;
medium blue: #75bfc8;
dark blue: #078b9b;
black: #012024;
*/
/*
papaya: #e24e42;
mustard: #e9b000;
 blush: #e86e80
 aqua: #008f95;
 grayish: #8d8d8d;
 blueish: #1a4863;
 burgundy: #51081f;
 */
